body {
    background: white;
    /* background: rgb(135,213,212); */
    width: 100%;
    height: auto;
}

.firstView {
    width: 414px;
    height: 736px;
    border: 2pt solid black;
    margin: 2%;
    /* background: rgb(135,213,212); */
    background-image: linear-gradient(to right top, #807289, #828bb3, #6baad8, #3acaed, #12e9eb);
}

.secondView {
    width: 414px;
    height: 736px;
    border: 2pt solid black;
    margin: 2%;
    /* background: rgb(135,213,212); */
    background-image: linear-gradient(to right top, #807289, #828bb3, #6baad8, #3acaed, #12e9eb);
}

.good {
    color: aliceblue;
    /* background-color:green; */
    /* background-color: #DD86E6; */
    background-image: linear-gradient(to left bottom, #807289, #c67391, #f98060, #e7b100, #75eb12);
    width: 60%;
    height: auto;
    margin-left: 20%;
    margin-top: 10%;
    text-align: center;
    padding-bottom: 10pt;
}

.indClients {
    font-size: 15pt;
    /* color: red; */
    padding-left: 3pt;
}

.good:hover {
    border: 2pt solid black
}

.checkMe {
    color: aliceblue;
    background-color: green;
    width: 70pt;
    /* height: auto; */
    /* margin-left: 3%; */
    /* margin-top: 3%; */
    text-align: center;
    /* padding-bottom: 2pt; */
    position: relative;
    left: 150 px;
    height: 25pt;
}

#alertMe {
    position: fixed;
    text-align: center;
    top: 376pt;
    width: 300px;
    margin: 5%;
    padding: 10px;
    height: auto;
    display: none;
    border: 2pt solid black;
    background: slateblue;
    color: aliceblue;
    font-size: 18pt;
}

.indClients {
    border: 2pt solid black;
}

.choices2 {
    top: 500px;
    position: fixed;
}

.addNew {
    margin: 3px;
    width: 70pt;
    height: 5 pt;
    /* background: teal; */
    background-color: #77467C;
}

.addNew:hover {
    border: 2pt solid black;
    background-color: orange;
}

.delete {
    margin: 3px;
    width: 70pt;
    height: 5 pt;
    background: red;
}

.delete:hover {
    border: 2pt solid black;
    background-color: orange;
}


#goodGood {
    display:none;
    font-size:14pt;
    font-weight:bold;
    margin:1%;
}
.needHelp {
    margin-top: 20%;
}

.poorly {
    color: aliceblue;
    background-color: red;
    /* background-color:#C03535; */
    width: 60%;
    height: auto;
    margin-left: 20%;
    margin-top: 5%;
    text-align: center;
    padding-bottom: 10pt;
}

.poorly:hover {
    border: 2pt solid black;
    background-color: black;
}

#inputAdd {
    padding-left: 5%;
    display:none;
}

#inputDelete {
    padding-left: 5%;
    display:none;
}